/* common css style for site */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@100&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  max-width: 1170px;
  margin: 20px auto 0 auto;
}
header {
  padding: 0 15px;
}
/* primary color and button style */
:root {
  --primary: #ff5400;
}
.primary-button {
  color: #fff;
  border-radius: 8px;
  background: #ff5400;
  padding: 16px 30px;
  border: none;
}
.primary-button:hover {
  cursor: pointer;
}

/* custom css styles started here */
.logo {
  display: flex;
  gap: 14px;
  align-items: center;
}
.logo img {
  height: 100%;
}
.logo h1 {
  font-size: 36px;
  font-weight: 800;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 32px;
}
nav ul li {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  color: #424247;
}
.hamburger {
  display: none;
}
.main-banner {
  margin: 17px auto;
  padding: 106px 200px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/travel-banner.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 16px;
  text-align: center;
}
.main-banner h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}
.main-banner p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.travel-requirements {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 16px 16px;
}
.travel-requirements select,
input,
button {
  width: 174px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 16px 15px;
}
main {
  padding: 0 15px;
}
.popular-travel {
  display: flex;
  align-items: center;
  gap: 53px;
  margin-top: 100px;
}
.popular-travel-text h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.popular-travel-text p,
ul {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.destinations {
  margin-top: 100px;
  margin-bottom: 100px;
}
.destinations h1 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.destinations p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}
.destinations-gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}
.destinations-gallery img {
  width: 100%;
}
.destinations-gallery div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.destinations-gallery div h2 {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
.image-box1 {
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
}
.image-box2 {
  grid-column: 7 / span 6;
  grid-row: 1 / span 1;
}
.image-box3 {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
}
.image-box4 {
  grid-column: 5 / span 5;
  grid-row: 2 / span 1;
}
.image-box5 {
  grid-column: 10 / span 3;
  grid-row: 2 / span 1;
}
.image-box6 {
  grid-column: 1 / span 5;
  grid-row: 3 / span 1;
}
.image-box7 {
  grid-column: 6 / span 7;
  grid-row: 3 / span 1;
}
.speciality-text {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 48px;
}
.speciality-text h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.speciality-text p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.special-facilities-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}
.special-facilities {
  border-radius: 16px;
  padding: 32px 32px;
}
.special-facilities h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.special-facilities p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.hotels-div {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.map-div {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.price-div {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.news-letter {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px 40px;
  width: 40%;
}
.form-title {
  border-bottom: 1px solid rgba(19, 19, 24, 0.1);
  margin-bottom: -20px;
}
.form button {
  width: 100%;
  font-weight: 500;
}
.form input {
  color: rgba(19, 19, 24, 0.3);
  width: auto;
  padding: 16px 20px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}
.cover-image {
  position: relative;
}
.discount-card {
  border-radius: 16px;
  background-color: #ff5400;
  color: #fff;
  text-align: center;
  line-height: 5px;
  padding: 10px 16px;
  width: 300px;
  position: absolute;
  transform: rotate(-19.628deg);
  bottom: 54px;
  right: 10px;
}
.discount-card h2 {
  font-size: 24px;
  font-weight: 400;
}
.discount-card h1 {
  font-size: 32px;
  font-weight: 800;
}
.news-letter img {
  width: 100%;
}
footer {
  background-color: rgba(19, 19, 24, 0.05);
  padding: 110px 300px;
  text-align: center;
}
.footer-logo {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}
.footer-logo img {
  height: 100%;
}
.footer-logo h1 {
  font-size: 18px;
  font-weight: 800;
}
footer p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.socialmedia {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
  margin-top: 33px;
}

/* responsive website by media query: mobile devices */
@media screen and (max-width: 600px) {
  header {
    padding: 0 10px;
  }
  .logo h1 {
    font-size: 26px;
    font-weight: 800;
  }
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
  .main-banner {
    padding: 32px 24px;
    background-size: auto auto;
  }
  .main-banner h1 {
    font-size: 22px;
  }
  .main-banner p {
    font-size: 14px;
  }
  .travel-requirements {
    flex-direction: column;
  }
  .travel-requirements select,
  input,
  button {
    width: auto;
    box-sizing: border-box;
  }
  main {
    padding: 0 10px;
  }
  .popular-travel {
    flex-direction: column;
    gap: 24px;
  }
  .popular-travel img {
    width: 100%;
  }
  .popular-travel-text h1 {
    font-size: 20px;
  }
  .popular-travel-text p,
  ul {
    font-size: 14px;
  }
  .destinations-gallery {
    display: flex;
    flex-direction: column;
  }
  .destinations-gallery div img {
    height: 286px;
  }
  .speciality-text {
    width: 100%;
  }
  .news-letter {
    flex-direction: column;
  }
  .form {
    width: 80%;
  }
  .news-letter img {
    width: 100%;
  }
  .discount-card {
    border-radius: 16px;
    background-color: #ff5400;
    color: #fff;
    text-align: center;
    line-height: 5px;
    padding: 10px 16px;
    max-width: 220px;
  }
  .discount-card h2 {
    font-size: 15px;
  }
  .discount-card h1 {
    font-size: 21px;
  }
  footer {
    padding: 44px 76px;
  }
  footer p {
    font-size: 14px;
  }
}
